body {
    background-color: rgb(155, 238, 234);
    opacity: 0.7;
    background-image: url(./img/pengu-dd6ecdb71cb2f584a606268ffdda19fb\ \(1\).png);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 100px 80px;
    animation: mymove 10s infinite;
}

@keyframes mymove {
    50% {
        background-size: 250px 200px;
        background-position: top center;
        background-color: rgb(99, 192, 103);
    }
}

.div {
    text-align: center;
    margin-top: 30vh;
    color: rgb(16, 0, 255);
    /* border: 15px solid stretch; */
    /* background-color: teal; */
}

#grumpy {
    z-index: -1;
    position: absolute;
    top: 8px;
    right: 16px;
    animation: mymovegrumpy 5s infinite;
}

@keyframes mymovegrumpy {
    30% {
        z-index: -1;
        position: absolute;
        top: 16px;
        right: 24px;
    }
    60% {
        z-index: -1;
        position: absolute;
        top: 16px;
        right: 9px;
    }
}

#hoangle {
    margin: auto;
    font-size: 70px;
}

#front-end {
    margin: auto;
    font-size: 40px;
}