body {
    background-color: rgb(155, 238, 234);
    opacity: 0.7;
    background-image: url(./img/backdrop-mobile-5b1307256a416ea809385b5f3c0cd6ff.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 100%;
    /* background-size: 250px 200px; */
    animation: mymove 10s infinite;
}

@keyframes mymove {
    50% {
        /* background-size: 250px 200px; */
        /* background-position: bottom right; */
        background-color: rgb(99, 192, 103);
    }
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.div {
    /* ---------------------- */
    outline: 17px ridge #5167d2;
    outline-offset: 1px;
    text-align: center;
    border: 15px outset #7557d2;
    width: 50%;
    /* margin-right: auto;
    margin-left: auto; */
    /* border-radius: 8px; */
    color: rgb(16, 0, 255);
    /* background-color: teal; */
}

#grumpy {
    z-index: -1;
    position: absolute;
    top: 8px;
    right: 16px;
    width: 20%;
    height: auto;
    animation: movegrumpy 5s infinite;
}

@keyframes movegrumpy {
    30% {
        z-index: -1;
        position: absolute;
        top: 16px;
        width: 20%;
        height: auto;
        right: 24px;
    }
    60% {
        z-index: -1;
        position: absolute;
        top: 16px;
        width: 20%;
        height: auto;
        right: 9px;
    }
}

#hoangle {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    margin: auto;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 3px 3px 15px rgb(43, 189, 233);
}

#front-end {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    margin: auto;
    font-size: 40px;
    font-weight: bold;
}

#golem {
    z-index: -1;
    position: absolute;
    top: 8px;
    left: 16px;
    width: 20%;
    height: auto;
}

#golem:hover {
    animation: movegolem 4s infinite;
}

@keyframes movegolem {
    30% {
        z-index: -1;
        position: absolute;
        top: 16px;
        height: auto;
        left: 24px;
    }
    60% {
        z-index: -1;
        position: absolute;
        top: 16px;
        height: auto;
        left: 9px;
    }
}

@media only screen and (max-width: 800px) {
    #hoangle {
        margin: auto;
        font-size: 30px;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
        font-weight: bold;
    }
    #front-end {
        margin: auto;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
        font-size: 20px;
        font-weight: bold;
    }
    .div {
        outline: 7px ridge #5167d2;
        outline-offset: 1px;
        text-align: center;
        /* margin-top: 30vh; */
        border: 5px outset #004bf3;
        width: 50%;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
        /* border-radius: 8px; */
        color: rgb(16, 0, 255);
        /* border: 15px solid stretch; */
        /* background-color: teal; */
    }
    #grumpy {
        width: 35%;
        animation: movegrumpy 5s infinite;
    }
    @keyframes movegrumpy {
        30% {
            z-index: -1;
            position: absolute;
            top: 10px;
            width: 35%;
            height: auto;
            right: 24px;
        }
        60% {
            z-index: -1;
            position: absolute;
            top: 10px;
            width: 35%;
            height: auto;
            right: 9px;
        }
    }
    #golem {
        z-index: -1;
        position: absolute;
        top: 300px;
        left: 16px;
        width: 40%;
        height: auto;
    }
    @keyframes movegolem {
        30% {
            top: 310px;
            left: 24px;
        }
        60% {
            top: 310px;
            left: 9px;
        }
    }
}

.butt button {
    margin-top: 20px;
    display: block;
    color: rgb(255, 0, 0);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.buttLogin button {
    margin-top: 10px;
    display: block;
    color: rgb(255, 0, 0);
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
}

.messcontain {
    width: 100%;
}

.mess textarea,
.mess input {
    margin-top: 20px;
    color: rgb(255, 0, 0);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.mess textarea {
    display: block;
    margin-bottom: 20px;
}

.mess div {
    text-align: center;
    display: block;
}

#mess {
    text-align: center;
    width: 60%;
    border-collapse: collapse;
    margin: 0px auto 50px;
    color: red;
    font-weight: bold;
}

#mess td,
#mess th {
    border: 1px solid black;
}


/* MODAL */

#username,
#password {
    /* text-align: center; */
    padding: 14px 20px;
    margin: 8px auto;
    border: solid;
    display: block;
    cursor: pointer;
    width: 80%;
}

.modal button {
    border: none !important;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid;
    cursor: pointer;
    width: 80%;
    color: white;
    background-color: rgb(28, 219, 130);
}

button:hover {
    opacity: 0.8;
}


/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}